{% extends "base.html" %}

{% block title %}About us{% endblock title %}

{% block body %}
<div class="container" style="align-items:center; display:flex; justify-content:center;">
<div class="image" style="box-sizing:border-box; border:2px solid black; border-radius:5px; box-shadow:2px 5px black;">
    <img src="/static/shubham.jpg" alt="Shubham" height="825" width="400">
</div>
<div class="ramp" style="margin:0px box-sizing:border-box; border:2px solid black; border-radius:5px; box-shadow:2px 5px black;">
<h3 style="text-align:center; padding:0px;">Everything about Shubham</h3>
<p style="margin: 10px; font-size:20px padding-left:20px;">This is Shubham and I study in B.Sc. Computer Science. I love Shree Krishna and his teachings. I know someone whose plans are always better than mine.<br> I am learning Django nowadays and enjoying the process. Till now, I have learned the languages like Python, Java, MySQL, PL/SQL, Kotlin, JavaScript, HTML and CSS. The Frameworks like Android Studio and Django has also done. There are many more things which will be done in future.<br>
    Currently, I am studying in SIES(NERUL) College of Arts, Science and Commerce. I have also joined the NSS where I have attended the many events.<br>
    Some learnings-<br> 1. Always stand for the truth and accept the reality.<br> 2. Love Everyone without expecting anythinng from them.<br> 3. Learn to control the Emotions and the state of mind.<br> 4. Always you need to be positive in life and expect the best, but you must back it up with action.<br> 5. Take chances, make mistakes. That's how you grow. Pain nourishes your courage. You have to fail in order to practice being brave.<br> 6. Don't go for the result, go for the process and then enjoy the result.<br>
    A very Enlightened quote - There are two ways of spreading the light: to be the candle or the mirror that reflects it.<br>
    Follows us on:<br>
    <a href="https://www.instagram.com/?next=%2F" style="text-decoration:none"><img src="/static/insta.jpeg"  height=50 alt="..." style="border-radius:50%;"> @maurya_shubham29</a><br><hr>
    &nbsp;
    <a href="https://www.linkedin.com/in/shubham-maurya-9932a3268/" style="text-decoration:none"><img src="/static/linked.jpeg" height=50 alt="..." style="border-radius:50%;"> @Shubham Maurya</a><br><hr>
    &nbsp;
    <a href="https://www.telegram.com/shaanma/" style="text-decoration:none"><img src="/static/telegram.png" height=50 alt="..." style="border-radius:50%;"> @shaanma</a><br>
</p>
</div>
</div>
{% endblock body %}