{% extends "base.html" %}

{% block body %}
<div class="shubh" style="background-image:url(/static/career.jpg);">
<div class="container mx-2">
<h3 style="color:white;">Career Related Blog:</h3>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><a href="https://www.python.org/jobs/types/">Python Developer</a></div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.upgrad.com/blog/career-in-java/">Java Developer</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.nobledesktop.com/learn/django/what-can-you-do-with-django-skills#:~:text=Professions%20that%20utilize%20Django%20include,Data%20Scientists%2C%20and%20Infrastructure%20Developers.">Django Development</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.educba.com/careers-in-android-development/">Android Studio Development</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.collegedekho.com/careers/pilot">Pilot</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://in.indeed.com/career-advice/finding-a-job/teacher-careers#:~:text=The%20minimum%20required%20qualification%20to,or%20Diploma%20in%20Education%20(D.">Teacher</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://collegedunia.com/courses/master-of-science-msc-agriculture/how-to-become-a-farmer#:~:text=A%20Farmer%20is%20responsible%20for,diploma%20with%20the%20required%20marks.">Farmer</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.collegedekho.com/careers/doctor">Doctor</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.bestcolleges.com/careers/business/entrepreneurship/">Entrepreneur</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.civilserviceindia.com/civil-services-list.html">UPSC Services</a></div>
      </div>
    </li>
  </ol>
</div>
{% endblock body %}
