{% extends "base.html" %}

{% block body %}
<div class="shubh" style="background-image:url(/static/flower.jpg);">
<div class="container mx-2">
<h3> Educational Blogs are:</h3>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://bioeducation1.blogspot.com/2021/11/how-to-work-with-someone-you-dont-like.html">How to work with someone you don't like</a></div>
        Working with somebody you dislike can be distracting and depleting.  Rather than focusing on the work you need to do together, you might wind up sitting around idly attempting to hold your feelings within proper limits and...<a href="https://bioeducation1.blogspot.com/2021/11/how-to-work-with-someone-you-dont-like.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://bioeducation1.blogspot.com/2021/12/how-to-develop-creative-thinking-skills.html">How to develop Creative Thinking</a></div>
        Creativity is the most troublesome thinking ability to obtain, and furthermore the most pursued. We value it in our music, amusement, innovation, and different parts of our existence. We appreciate our creativity because it improves...<a href="https://bioeducation1.blogspot.com/2021/12/how-to-develop-creative-thinking-skills.html"> Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://bioeducation1.blogspot.com/2021/11/5%20best%20a.html">5 Best Apps to study effectively</a></div>
        When it comes to study, nowadays we all are depends on the mobile phones to study on online platforms such as on YouTube or any other platforms. We all are making notes, stats and mind maps, now you can make it on phones...<a href="https://bioeducation1.blogspot.com/2021/11/5%20best%20a.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://bioeducation1.blogspot.com/2021/11/How%20to%20study%20Smarter%20not%20Harder.html">5 tips on How can you study Smarter than Harder(longer)</a></div>
        Do you at any point feel like your study habits just not get any desired result? Do you consider how you could be improving in class and on tests? Numerous students understand that their college study habits aren't much successful than...<a href="https://bioeducation1.blogspot.com/2021/11/How%20to%20study%20Smarter%20not%20Harder.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://bioeducation1.blogspot.com/2021/11/How%20to%20study%20effectively.html">How to study effectively - 10 ways to improve yourself</a></div>
        Finding the most ideal way of study is a continuous process. It isn't that you will learn it within a day. You have to continuously work hard to improve your skills of study. It is an effective way that requires patience, practice and...<a href="https://bioeducation1.blogspot.com/2021/11/How%20to%20study%20effectively.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://bioeducation1.blogspot.com/2021/11/Life%20changes.html">10 Simple Changes that make a big difference in your life</a></div>
        Making a major improvement in life can be quite scary. It can likewise be a source of lot of stress, tension and surprisingly more dissatisfaction. With some of those life changes, results aren't consistently quick. As time passes by, you...<a href="https://bioeducation1.blogspot.com/2021/11/Life%20changes.html">Read More</a>
      </div>
    </li>
  </ol>
</div>
{% endblock body %}
