{% extends "base.html" %}

{% block body %}
<div class="shubh" style="background-image:url(/static/news.jpeg);">
<div class="container mx-2">
<h3 style="color:white;">News Blog:</h3>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><a href="https://www.reuters.com/world/middle-east/human-rights-watch-says-rocket-misfire-likely-cause-deadly-gaza-hospital-blast-2023-11-26/">Human Rights Watch says rocket misfire likely cause of deadly Gaza hospital blast</a></div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.reuters.com/world/asia-pacific/malaysia-allow-visa-free-entry-china-india-citizens-dec-1-pm-2023-11-27/">Malaysia to allow visa-free entry to Chinese, Indian nationals from Dec. 1</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.reuters.com/world/thousands-march-against-antisemitism-london-2023-11-26/">March against antisemitism draws 50,000 in London</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.reuters.com/world/asia-pacific/north-korea-lashes-out-critics-hints-more-satellite-launches-2023-11-27/">North Korea vows more satellite launches, beefs up military on border</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.reuters.com/world/asia-pacific/vietnam-set-raise-effective-tax-rate-multinationals-part-global-deal-2023-11-27/">Vietnam set to raise effective tax rate on multinationals as part of global deal</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.indiatoday.in/world/story/malaysia-to-allow-visa-free-entry-to-chinese-indians-from-december-1-2467893-2023-11-27">Visa-free entry for Indians, Chinese from December 1: Malaysia PM</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.indiatoday.in/india/story/uttarkashi-rescue-op-silkyara-tunnel-vertical-manual-horizontal-drilling-trapped-workers-2467801-2023-11-26">6 rescue plans for workers trapped in Uttarkashi tunnel, here's the best one</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.indiatoday.in/india/video/uttarakhand-op-busted-drill-removed-from-tunnel-vertical-drilling-progresses-2467917-2023-11-27">Uttarakhand op: Busted drill removed from tunnel, vertical drilling progresses</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.indiatoday.in/technology/news/story/tim-cook-was-asked-how-people-can-get-a-job-at-apple-here-is-what-he-said-2467907-2023-11-27">Tim Cook was asked how people can get a job at Apple, here is what he said</a></div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://www.indiatoday.in/india/story/tamil-nadu-officer-misbehaves-with-differently-abled-woman-at-her-stall-video-2467817-2023-11-26">Video: Tamil Nadu officer misbehaves with woman fish vendor, faces protest</a></div>
      </div>
    </li>
  </ol>
</div>
{% endblock body %}
