{% extends "base.html" %}

{% block body %}
<div class="shubh" style="background-image:url(/static/socio.jpg);">
<div class="container mx-2">
<h3>The Blogs related to Social Issues are:</h3>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><a href="https://shubhamsocio.blogspot.com/2021/10/top-10-social-issues-in-india.html"> Top 10 Social issues in India</a></div>
          No nation is excluded from social issues. Social issues in India are exceptionally well known all throughout the globe. This is the reason it is seen ordinarily by individuals challenging many such issues. India has the largest democracy in...<a href="https://shubhamsocio.blogspot.com/2021/10/top-10-social-issues-in-india.html">Read More</a>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://shubhamsocio.blogspot.com/2021/10/corruption-major-issues.html">Corruption : The Major Issues</a></div>
        Corruption is a form of dishonesty or criminal offense which is attempted by an individual or an association.Corruption disintegrates trust, debilitates Democracy, hampers Economic Development and further worsens inequality...<a href="https://shubhamsocio.blogspot.com/2021/10/corruption-major-issues.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://shubhamsocio.blogspot.com/2021/10/Drug%20addiction.html">Drug Addiction : How to get rid of it</a></div>
        Developing a dependence on drugs isn't a person imperfection or an indication of shortcoming, and it takes more than determination to conquer the issue. Abusing illegal or certain physician recommended medications can make...<a href="https://shubhamsocio.blogspot.com/2021/10/Drug%20addiction.html"> Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://shubhamsocio.blogspot.com/2021/10/Dowry%20system%20in%20India.html">Dowry: The Major Cases | Every woman should read</a></div>
        There are numerous wrongs in our society. The dowry system is one of them. It has turned into an issue today. Pretty much every family has a girl. So every family needs to endure eventually. An Indian girl isn't like the western girl. She...<a href="https://shubhamsocio.blogspot.com/2021/10/Dowry%20system%20in%20India.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://shubhamsocio.blogspot.com/2021/10/information-about-cronyism-shubhamsocio.html">Information about the Cronyism</a></div>
        Cronyism is the act of prejudice in granting occupation and different benefits to companions or confided in partners, particularly in governmental issues and between politicians and supportive organisation. Suppose the position...<a href="https://shubhamsocio.blogspot.com/2021/10/information-about-cronyism-shubhamsocio.html">Read More</a>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="https://shubhamsocio.blogspot.com/2021/10/Overcome%20the%20Social%20media%20addiction.html">7 ways to overcome your Social Media Addiction</a></div>
        Nowadays we all rely on Social Media apps for sparing our free time. Social Media like Facebook, Twitter, Instagram have influenced people. People of any age want to spend their free time on social media instead of spending time...<a href="https://shubhamsocio.blogspot.com/2021/10/Overcome%20the%20Social%20media%20addiction.html">Read More</a>
      </div>
    </li>
  </ol>
</div>
{% endblock body %}
